/* ICONOS */

/* FontAwesome */
@import url(all.min.css);

/* Tipos de letra */
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

/* VARIABLES */
:root {
    --color-tinta: black;
    --color-fondo: white;
    --color-enlace: #5693b9;

    --tipo-letra: "SUSE", sans-serif;
    --tipo-letra-titulo: "Honk", system-ui;

    --sombra: .25rem .25rem .25rem rgba(0, 0, 0, 0.321);

    --espacio: .5rem;
    --espacio-grande: 1rem;
    --espacio-pequeno: .25rem;
    --margen: 5rem;
}

/* RESETEOS */

* {
    box-sizing: border-box;
}

body {
    font-family: var(--tipo-letra);

    margin: 0;

    line-height: calc(1rem + var(--espacio));

    color: var(--color-tinta);
    background-color: var(--color-fondo);
}

main {
    padding: var(--espacio);
}

h1 {
    line-height: calc(2rem + var(--espacio));
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--tipo-letra-titulo);
}

p {
    margin: var(--espacio-grande) 0;
}

pre {
    overflow: auto;
}

a {
    text-decoration: none;
    color: var(--color-enlace);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

img,
audio,
video {
    width: 100%;
}

.proporcion {
    position: relative;

    &.p16x9 {
        padding-bottom: calc(9/16 * 100%);
        /* 56.25% */
        /* (9/16) * 100 */
    }

    &.p4x3 {
        padding-bottom: 75%;
    }

    &.p1x1 {
        padding-bottom: 100%;
    }

    & iframe {
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

table {
    border-collapse: collapse;
    width: 100%;

    box-shadow: var(--sombra);

    & td,
    & th {
        border: 1px solid lightgray;

        padding: .5rem;
    }

    & thead,
    & tfoot {
        background-color: gray;
    }

    & tbody>tr:nth-child(even) {
        background-color: rgb(222, 222, 222);
    }

    & tr {
        & :first-child {
            text-align: end;
        }

        & :nth-child(2),
        & :last-child {
            text-align: start;
        }
    }
}

fieldset,
input,
select,
textarea,
button,
#arriba a {
    border: 1px solid lightgray;
    border-radius: var(--espacio);

    width: 100%;
    padding: var(--espacio);

    margin-top: var(--espacio);
}

button,
input[type=submit],
input[type=reset],
#arriba a {
    background-color: blue;
    color: var(--color-fondo);
}

input[type=color] {
    height: 3rem;
}

legend {
    font-variant: small-caps;
}

/* ESTRUCTURA DE LA PÁGINA */

/* Cabecera */

body>header,
body>footer {
    background-color: var(--color-tinta);
    color: var(--color-fondo);

    text-align: center;

    padding: .75rem;
}

body>header h1 {
    margin: 0;
}

/* Menú */

body>nav {
    background-color: darkgray;


    & ul {
        padding: 0;
        margin: 0;
    }

    & li {
        list-style: none;

        text-align: center;

        padding: var(--espacio-pequeno);
    }

    & a {
        display: inline-block;

        color: var(--color-fondo);

        width: 100%;

        &:hover {
            background-color: var(--color-fondo);
            color: var(--color-tinta);
            text-decoration: none;
        }
    }
}

/* Pie */

body>footer dd {
    margin-left: 0;
}

#arriba {
    position: fixed;

    bottom: var(--espacio-grande);
    right: var(--espacio);

    & a {
        text-decoration: none;

        box-shadow: var(--sombra);

        border-radius: 100%;
        padding: var(--espacio-pequeno) var(--espacio);
        /* x y z color */
    }
}

#redes-sociales {
    list-style: none;
    padding-left: 0;

    & li {
        display: inline-block;

        & a {
            color: var(--color-fondo);
        }
    }
}

@media (min-width: 425px) {
    #listas {
        &>:not(h3) {
            display: inline-block;
            vertical-align: top;;
        }

        &>ul {
            width: 25%;
        }

        &>ol {
            width: 74%;
        }
    }
}

@media (min-width: 768px) {
    main {
        padding: var(--margen);
    }

    body>nav {
        position: sticky;
        top: 0;
        z-index: 1;

        & ul {
            display: flex;

            & li:last-child {
                margin-left: auto;
            }
        }
    }

    #parrafos {
        display: flex;
        flex-wrap: wrap;

        gap: var(--espacio);

        &>h3 {
            width: 100%;
        }

        &>p {
            width: calc(50% - var(--espacio));
        }
    }

    #listas {
        display: flex;
        flex-wrap: wrap;

        &>h3 {
            width: 100%;
        }

        &>ul {
            width: 15%;
        }

        &>ol {
            width: 35%
        }

        &>dl {
            width: 50%;
        }
    }

    #formularios {
        display: grid;

        grid-template-columns: repeat(2, 1fr);

        gap: var(--espacio);

        &>h3 {
            grid-column: span 2;
        }

        &>form:nth-of-type(2) {
            grid-column: 1;
        }

        &>form:last-of-type {
            grid-row-start: 2;
            grid-row-end: span 3;
            grid-column: 2;
        }
    }

    aside ul {
        display: flex;

        & li {
            list-style: none;

            padding: var(--espacio);
        }
    }

    body>footer {
        display: flex;

        justify-content: space-between;
        align-items: baseline;

        & #contacto dl {
            display: flex;

            &>* {
                padding: var(--espacio-pequeno);
            }
        }
    }

    #arriba {
        display: none;
    }
}

@media (min-width: 1024px) {
    #multimedia {
        display: grid;
        gap: var(--espacio);

        grid-template-columns: 1fr 1fr;

        grid-template-areas:
            "multimedia-cabecera    multimedia-cabecera"
            "audio                  audio"
            "spotify                video"
            "imagen                 youtube"
            "mapa                   mapa";

        &>h3 {
            grid-area: multimedia-cabecera;
        }

        &>audio {
            grid-area: audio;
        }

        &>video {
            grid-area: video;
        }

        &>img {
            grid-area: imagen;
        }

        &>#mapa {
            grid-area: mapa;
        }

        &>#spotify {
            grid-area: spotify;
        }

        &>#youtube {
            grid-area: youtube;
        }
    }

    #formularios {
        grid-template-columns: 1fr 2fr;

        &>form:last-of-type fieldset {
            display: grid;
            gap: var(--espacio);

            grid-template-columns: 1fr 1fr;
        }
    }
}